@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: url(./assets/bac1.png);
	font-family: Rubik;
}

li:hover {
	display: flex;
	text-decoration: underline white 3px;
}

ul {
	display: flex;
	gap: 25px;
}

a {
	text-decoration: none;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	gap: 5px;
	padding: 14px 0px;
	cursor: pointer;
}

.mi {
	color: white;
	font-size: 16px;
	font-weight: 700;
}

.text {
	display: flex;
	align-items: center;
	padding: 0px 30px;
	gap: 15px;
}

.first {
	display: flex;
	gap: 100px;
}

.ser {
	padding: 10px 200px;
}

.night {
	background: url(./assets/bac1.png);
	border: none;
}

.sky {
	width: 100%;
}

.dirt {
	z-index: 2;
	position: absolute;
	right: 7%;
	top: 20%;
	width: 100%;
}

.rectangle1 {
	z-index: 2;
	position: absolute;
	top: 30%;
	left: 10%;
	background-color: white;
	width: 78%;
}

.one {
	font-size: 48px;
	font-weight: 300;
	padding: 20px 37px;
}

.rectangle2 {
	position: relative;
	left: 3.5%;
	background-color: #f5c2cd;
	border-left: solid #bc5c70 5px;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 90%;
}

b {
	font-size: 16px;
	font-weight: 600;
}

.para {
	display: flex;
	flex-direction: column;
	text-align: start;
	padding: 0px 12px;
	width: 90%;
}

.first-card {
	display: flex;
	text-align: start;
	padding: 25px 40px;
	font-size: 16px;
	width: 96%;
}

.entities {
	font-size: 22px;
	font-weight: 500;
	padding: 10px 40px;
}

hr {
	position: relative;
	width: 92%;
	left: 3.5%;
}

.monst {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.class {
	text-align: start;
	width: 99%;
	padding: 0px 40px;
}

.search-container {
	position: relative;
	width: 400px;
    left: 30%;
}

.search-container .search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	color: #555;
}

.search-container input {
	width: 100%;
	padding: 10px 10px 10px 45px; /* padding-left pour l'icône */
	border: 2px solid #000;
	border-radius: 10px;
	font-size: 16px;
}
